* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}

/* Navbar css */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23.5px 0px;
}
#navbar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  text-decoration: none;
  color: #575757;
}
#navbar ul li a:hover {
  color: #000000;
}
#navbar button {
  font-weight: 700;
  line-height: 24px;
  padding: 12px 41.5px;
  background-color: #1d4ed8;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

/* Hero section css */
#hero {
  position: relative;
  background-image: url("./assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.414);
  z-index: 1;
}
.hero-container{
    /* padding-top: 136px; */
    position: relative;
    z-index: 2;
    color: white;
}
#hero h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}
#hero h1 span{
    font-style: italic;
}
.hero-container p{
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    margin-top: 16px;
}
.hero-btn{
    display: flex;
    justify-content: center;
}
.hero-container button{
    margin-top: 278px;
    padding: 25px 62.5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1D4ED8;
}

/* Meet the Speakers section css */
.meet-speakers{
    padding-top: 80px;
}
.meet-speakers h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    text-align: center;
}
.speaker-grid{
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 32px;
    justify-content: center;
}
.speaker-box{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: fit-content;
}
.speaker-details{
    padding: 24px;
}
.speaker-details h5{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #2563EB;
}
.speaker-details h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 27.5px;
    padding: 8px 0px;
}
.speaker-details p{
    font-size: 14px;
    line-height: 21px;
    color: #575757;
}
.speaker-box img{
    border-radius: 12px 12px 0px 0px;
}

/* Secure your spot section css */
#secure-section{
  padding-top: 169px;
  padding-bottom: 100px;
}

#secure-section h2{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0D1B2A;
}
#secure-section p{
  text-align: center;
  margin-top: 12px;
  line-height: 24px;
  color: #575757;
}

.secure-grid{
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 24px;
}
.secure-grid-box{
  padding: 32px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}
.secure-grid-box-ul{
  color: #333333 !important;
}
.secure-grid-box p{
  display: inline;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  color: #888888;
}
.secure-grid-box h3{
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  color: #0D1B2A;
  margin-top: 8px;
  margin-bottom: 4px;
}
.secure-grid-box ul{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E5E7EB;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 21px;
  color: #333333;
  padding-left: 18px;
}
.secure-grid-btn{
  display: flex;  
  margin-top: 20px;
}
.secure-grid-btn button{
  flex-grow: 1;
  text-align: center;
  padding: 11px 0px;
  border-radius: 8px;
  border: 1px solid #2563EB;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #2563EB;
  background-color: white;
}
.highlighted-box{
  border: 1px solid #0D1B2A;
  background-color: #0D1B2A;
}
.highlighted-box h3{
  color: white;
}
.highlighted-box p{
  color: white !important;
}
.highlighted-box-p{
  color: #93C5FD !important;
}
.highlighted-box-ul{
  color: white !important;
}
.highlighted-box-btn button{
  background-color: #2563EB;
  color: white;
}



